body{
    background-color: #fff;
}
*{
    color: #545454;
}
.header{
    background-image: none;
    background-image: none;
    padding-top: 0;
    padding: 30px 0;
}
.title__name{
    color: #545454;
}
.title__text{
    color: #292929;
}
.navigation__link{
    color: #545454;
}
.navigation__link--activ{
    border-bottom: 3px solid #F1CDB3;
}
.our__title{
    margin-bottom: 45px;
}
.our__slider{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    margin-bottom: 45px;
}
.slider__items {
 
}
.our__btn{
    
}
.our__btn + .our__btn{
    margin-left: 20px;
}
.btn{
    width: 52px;
    height: 52px;
    padding: 0;
}
.btn__one::before{
    content: '\3C\3C';
}
.btn__two::before{
    content: '\3C';
}
.btn__three::before{
    content: '\3E';
}
.btn__vo::before{
    content: '\3E\3E';
}

